* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#right {
  margin-right: 20px;
  margin-top: 32px;
}
#timer {
  margin-top: 30px;
  margin-left: 20px;
  width: 52px;
  height: 21px;
}

#avanti-notch {
  padding: 0rem 0rem 1rem 0rem;
  display: flex;
  justify-content: space-between;
}

#avanti-header {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 4%; /* ou 0%, ou 0px */
  background-color: #005cff;
  color: white;
}
#avanti-header p {
  padding: 0.3rem;
  margin: 0;
  line-height: 1.2;
}

#purple {
  background-color: #6220c1;
  padding: 0rem 0.3rem 0rem 0.3rem;
}

#less {
  font-weight: 400;
}

#cart {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.2rem;
}

.navbar navbar-expand-lg bg-body-tertiary {
  display: flex;
  justify-content: space-between;
}

#scale-image {
  margin-top: 1.2rem;
  width: 100%;
  height: auto;
  object-fit: cover;
}

#start-page-two {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

#div-carousel {
  width: 100vw;
  height: auto;

  position: relative;
}

.carousel-images {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.carousel-images img {
}

#teste {
  border-style: groove;
  border-width: 1px;
  border-radius: 0.9rem;

  display: flex;
  flex-direction: column;
  align-items: anchor-center;
}

#new {
  width: 41px;
  height: 23px;
  margin-top: 12px;
  margin-left: 8px;
  border-radius: 4px;
  margin-right: 80%;
}

#lorem-ipsum {
  font: Nunito Sans;
  font-weight: 400;
  size: 12px;
  letter-spacing: 0px;
  line-height: 100%;
  padding: 0.7rem;
}

.card {
  width: 200px;
  padding: 12px;
  border: none;
  font-family: Arial, sans-serif;
}

.preco-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.preco-antigo {
  text-decoration: line-through;
  color: #666;
  font-size: 14px;
}

.desconto {
  background-color: #4ecdc4;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: bold;
}

.preco-novo {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.parcelamento {
  font-size: 13px;
  color: #444;
  margin: 4px 0 12px 0;
}

.botao-comprar {
  background-color: #007bff;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.botao-comprar:hover {
  background-color: #0056b3; /* cor um pouco mais escura */
  transition: background-color 0.3s;
}

.carousel-indicators {
  visibility: hidden;
}

#banner {
  max-width: 100%;
}
#banner-img {
  width: 100vw;
  height: 100%;

  object-fit: cover;
}

.banner-description {
  margin-top: 4rem;
}
#description {
  margin-top: 2rem;
  margin-left: 1.2rem;
}
.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: black;
}
.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: black;
}

#description-text {
  font-family: Nunito;
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
}

#title-lorem {
  font-family: Nunito;
  font-weight: 700;
  font-size: 19px;
  line-height: 140%;
  letter-spacing: 4%;
  text-transform: uppercase;
}

#description-text-two {
  font-family: Nunito;
  font-size: 19px;
  line-height: 140%;

  width: 343px;
  height: 260px;
  font-weight: 400;
}

.banner-locais {
  width: 100%;
  height: auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dedede;
  gap: 1rem;
  max-width: 100vw;
  scale: 1;
}
/* #img-banner-locals{
  width: 100vw;
  height: auto;
  object-fit: cover;
} */
.icon-description {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#p-icon-description {
  font-family: Nunito;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 5%;
  width: 276;
  height: 68;
  margin-right: 30px;
}

#icon-circle {
  width: 60px;
  height: auto;
  object-fit: contain;
}

#lorem-location {
  width: 384;
  height: 28;
  top: 2261px;
  left: 2px;
  font-family: Nunito;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 4%;
  text-align: center;
  text-transform: uppercase;
}

.banner-description-two {
  margin-top: 4rem;
}

.banner-quarto {
  margin-top: 2rem;
  height: 50vh;
}

#img-room {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

#room-description {
  width: 100vw;
  height: 75;
  padding: 15px;
  color: #ffffff;
  position: relative;
  bottom: 16em;
  background-color: #005cff;
  display: flex;
  justify-content: center;
}

.form-register {
  margin-right: 15px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.h-cadastro {
  width: 241;
  height: 22;
  top: 5px;
  left: 59px;
}
#input-text {
  margin: 10px;
  padding: 20px;
  width: 99%;
  height: 48px;
  border-radius: 8px;
}
#checkbox-agree {
  margin-left: 30px;
}

label {
  font-family: Nunito Sans;
  color: #656565;
  font-weight: 700; 
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0px;
}

form {
  margin-left: 12px;
  background-color: #f5f5f5;
  padding: 20px;
  max-width: 700px;
  display: flex;
  flex-direction: column;

  border-radius: 15px;
}

#button-for-form {
  margin-left: 10px;
  margin-top: 8px;
  width: 100%;
  height: 48px;
  gap: 10px;
  border-radius: 8px;
  padding-top: 14px;
  padding-right: 24px;
  padding-bottom: 14px;
  padding-left: 24px;
  background-color: #005cff;
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: white;
}

.session-social-media {
  display: flex;
  justify-content: center;

  flex-direction: column;
  width: 100vw;
  background-color: #f5f5f5;
  margin-top: 30px;
}

#images-social-media {
  height: 20px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 2rem;
}

#image-avanti {
  margin-top: 15px;
}

#h1-from-nav {
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  width: 122;
  height: 22;
  top: 16px;
  left: 16px;
  margin-right: 250px;
}
#h2-from-nav {
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  width: 122;
  height: 22;
  top: 16px;
  left: 16px;
  margin-right: 250px;
}
.bg-body-tertiary {
  background-color: #f5f5f5 !important;
}

.icon-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.8rem;
  max-width: 320px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 15px 0;
}

.icon-grid img {
  width: 30px; /* 👈 menor tamanho */
  height: auto;
  object-fit: contain;
}

#lorem-footer {
  width: 358;
  height: 59;
  top: 535.67px;
  left: 16px;
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 3rem;
}

.footer-icons {
  display: flex;
  justify-content: space-around;
}

#first-icons {
  display: flex;
  gap: 20px;
}

#p-span-room {
  display: flex;
  flex-direction: column;
}
#span-with-margin {
  margin-left: 2rem;
}

.footer-icons img {
  max-width: 100px;
  height: auto;
  gap: 20px;
}

#resultadoBusca {
  margin-top: 20px;
  margin-left: 28px;
}

#product-show {
  height: auto;
}

.images-logo {
  margin-left: 35%;
}

.image-desktop {
  display: none;
}

@media (min-width: 992px) {
  #avanti-notch {
    display: none;
  }
  #scale-image {
    background-image: url("assets/background-desktop.png");
  }
  #avanti-header {
    display: flex;
    justify-content: center;
  }

  #image.logoo {
  }
  #cart {
    position: absolute; /* ou fixed, se quiser que fique fixo na tela */
    top: 40px;
    right: 10px;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }

  .image-mobile {
    display: none;
  }
  .image-desktop {
    display: block;
    width: 100%;
    height: auto;
    background-color: #e7e7ea;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .image-desktop img {
    margin-left: 3rem;
  }
  .image-desktop #main-text {
    font-family: Nunito;
    font-weight: 700;
    font-size: 100px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .image-desktop p {
    font-family: Nunito;
    font-weight: 300;
    font-size: 100px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .frases {
    width: 100vw;
    height: auto;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
  }
  .frases #sub-text {
    font-family: Nunito;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 30%;
    text-transform: uppercase;
    width: 100%;
    height: 34;
    top: 122.49px;
    left: -1.98px;
    color: #005cff;
  }
  #off {
    width: 244;
    height: 82;
    top: 168.49px;
    left: 166.02px;
    font-family: Nunito;
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #005cff;
    margin-left: 8rem;
    margin-top: 1rem;
  }
  #first-banner {
    width: 100vw;
    height: auto;
    display: flex;
  }
  #banner-img {
    width: 50vw;
  }
  #description {
    margin-top: 10%;
  }

  .banner-locais {
    display: flex;
    flex-direction: row-reverse;
  }
  .description-locais {
    margin-left: 5rem;
  }
  #img-banner-locals {
    margin-right: 6rem;
  }
  .banner-description-two {
    display: flex;
  }

  #p-span-room {
    display: inline;
  }
  #span-with-margin {
    margin-left: 0rem;
  }

  #room-description p{
    font-family: Nunito;
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }

  form{
    width: 100vw;
    display: flex;
    flex-direction: row;
  }
}
